.backgroundIMG {
    position: relative;
    width: 100%;
    min-height: calc(100vh);
    background-image: url('../../images/pinkBack.png'), url('../../images/blueBack.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
  }
  
  .header {
    position: relative;
    z-index: 1; 
  }